*{
  padding: 0;
  margin: 0;
  font-family: "Madimi One", sans-serif;
  color: #002765;
}

*::selection{
  background: #ffe448;
}


.container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #e66465, #9198e5);
  padding: 20px;
}

.To-do {
  width: 500px;
  margin: 100px auto;
  padding: 50px 40px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.To-do h2 {
  display: flex;
  align-items: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.To-do h2 img{
  width: 60px;
}

#calendar {
  margin-top: -70px;
  float: right;
  border: 1px solid #002765;
  padding: 10px 17px;
  border-radius: 40px;
}

.to-do-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  border-radius: 40px;
}

.to-do-input input{
  flex: 1;
  border: none;
  outline: none;
  position: relative;
  padding: 10px 20px;
  background: transparent;
}

.to-do-input button{
  border: none;
  background-color: #ffe448;
  padding: 10px;
  border-radius: 40px;
  width:120px;
  font-size: 16px;
}

.to-do-input button:hover {
  cursor: pointer;
  background: linear-gradient(20deg, #e66465, #9198e5);
}

#list{
  cursor: pointer;
  margin: 20px 30px;

}

ul li {
  font-size: 18px;
  list-style-type: none;
  margin-bottom: 8px;
  display: block;
  position: relative;
}


.crossed{
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  float:left;
  padding: 20px;
  margin-right:10px; 
  height: 20px;
  width: 20px;
}


span{
  float: right;
  height: 30px;
  width: 30px;
  background-color: #ffe448;
  text-align: center;
  border-radius: 10px;
}

span:hover {
  background-color: red;
}

.click_effect {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 5px solid #8876d0;
  background-color: transparent;
  pointer-events: none;
  margin-top: -40px;
  margin-left: -40px;
  opacity: 0;
  border-radius: 50%;
  animation-name: click_animation;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}

@keyframes click_animation {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

a {
  position: relative;
  transition: 0.3s ease-in-out;
}

a:hover {
  transform: translate(-2px,-2px);
}

.button{
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  border-radius: 40px;
  padding: 0.75rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  transform: translate(0);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.button-gradient{
  position: absolute;
  background: linear-gradient(20deg, #e66465, #9198e5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: 40px;
  transform: translate(0.5rem, 0.5rem);
}

.button:hover{
  transform: translate(-2px, -2px)
}